

body {
  background: linear-gradient(21deg, #c4f2c1, #54e64b);
  background-size: 400% 400%;
  animation: GradientBackground 5s ease infinite;
  font-family: "Press Start 2P", cursive;
}


.is-hidden {
    opacity: 0;
    visibility: none;
    pointer-events: none;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    background-color: lightgreen;
    width: 528px;
    height: 581px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border: 6px solid black;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
} 

.modal h2 {
      text-align: center;
    position: relative;
    top: 35px;
    font-size: 2.5rem;
    font-size: 2.5rem;
}

.modal button {
    margin: 0 auto;
    position: relative;
    top: 90px;
    z-index: 1001;
}

.modal span {
  max-width: 75%;
    display: block;
    position: relative;
    top: 58px;
    text-align: center;
    left: 65px;
}

.mushrooms {
      top: 55px;
    position: relative;
    left: 35px;
}

.treasure {
  width: 350px;
  position: relative;
  left: 100px;
}

.game {
  position: relative;
  width: auto;
  height: 100%; 
}

.container {
  position: relative;
      right: 55px;
    bottom: 55px;
    height: 200px;
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s; }

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: #ef233c;
  box-shadow: inset 2px 2px #d90429;}

.dice-one {
  left: 50%;
top: 50%;
 }

.side {
  position: absolute;
  background-color: #ffF;
  border-radius:5px;
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}

.side:nth-child(1) {
  transform: translateZ(3.1em); }

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(3.1em); }

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.1em); }

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(3.1em); }

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(3.1em); }

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(3.1em); }

.two-1, .three-1, .four-1, .five-1, .six-1 {
  top: 20%;
  left: 20%; }

.four-3, .five-3, .six-4 {
  top: 20%;
  left: 80%; }

.one-1, .three-2, .five-5 {
  top: 50%;
  left: 50%; }

.four-2, .five-2, .six-3 {
  top: 80%;
  left: 20%; }

.two-2, .three-3, .four-4, .five-4, .six-6 {
  top: 80%;
  left: 80%; }

.six-2 {
  top: 50%;
  left: 20%; }

.six-5 {
  top: 50%;
  left: 80%; 
}

.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg); }

.show-6 {
  transform: rotateX(-900deg) rotateZ(1080deg); }

.show-3 {
  transform: rotateY(-450deg) rotateZ(-1440deg); }

.show-4 {
  transform: rotateY(810deg) rotateZ(720deg); }

.show-5 {
  transform: rotateX(-810deg) rotateZ(-1080deg); }

.show-2 {
  transform: rotateX(450deg) rotateZ(-720deg); }

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  text-align: center;
  padding: 15px;
  max-width: 80%;
  margin: 0 auto;
}

button,
input {
  display: block;
  margin: 60px auto;
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
  padding: 15px;
  border: 2px solid black;
  background-color: #ffd19a;
}


.btn-disabled {
        background-color: lightgrey;
    color: darkgray;
    border: 2px solid darkgray;
    cursor: auto;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

input {
  width: 60%;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

input::placeholder {
  font-size: 10px;
}

button {
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, 0.2);
}

.field {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 1px;
  display: inline-block;
  position: relative;
  opacity: 0.8;
}

#board {
  max-width: 70%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.pawn {
    position: absolute;
    top: 70px;
    left: 120px;
    width: 75px;
    height: 75px;
}

.fieldNumberText {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

#result {
        display: inline-block;
    margin: 50px;
}

@media screen and (max-width: 1200px) {

.is-hidden {
    opacity: 0;
    visibility: none;
    pointer-events: none;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 70%;
height: 609px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

}