button,
input {
  display: block;
  margin: 30px auto;
  font-size: 1.5rem;
  font-family: "Press Start 2P", cursive;
  padding: 15px;
  border: 2px solid black;
  background-color: #ffd19a;
}

input {
  width: 60%;
  &::placeholder {
    font-size: 10px;
  }
}

button {
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, 0.2);
    background-color: #f0b369;
  }
}

.btn-disabled {
  background-color: lightgrey;
  color: darkgray;
  border: 2px solid darkgray;
  cursor: auto;
  &:hover {
    background-color: lightgray;
  }
}
