@keyframes GradientBackground {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
body {
  background: linear-gradient(21deg, #c4f2c1, #54e64b);
  background-size: 400% 400%;
  animation: GradientBackground 5s ease infinite;
  font-family: "Press Start 2P", cursive;
}

.container {
  text-align: center;
  margin: 0 auto;
}

ol {
  margin: 0 auto;
  line-height: 40px;
  max-width: 50%;
}

li {
  margin: 50px auto;
}

.game {
  position: relative;
  max-width: 100%;
}

headerh2 {
  margin: 50px 0;
}
headerp::after {
  display: block;
  content: "";
  border-top: 0.3rem solid black;
  max-width: 100%;
  margin: 10vh auto;
  transform: translateY(-1rem);
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mushroom-container {
  background-image: url("/img/mushroom-jump.gif");
  display: inline-block;
  width: 110px;
  height: 105px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}

h1 {
  font-size: 3rem;
  padding: 10px;
  color: #ffd19a;
  text-shadow: black 1px 0 10px;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  background-color: lightgreen;
  width: 528px;
  height: 581px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border: 6px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modalh2 {
  font-size: 1.5rem;
}
.modalbutton {
  z-index: 1001;
  margin: 40px auto 0;
}
.modalspan {
  max-width: 75%;
  display: block;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mushrooms {
  max-width: 80%;
}

.treasure {
  max-width: 40%;
}

button,
input {
  display: block;
  margin: 30px auto;
  font-size: 1.5rem;
  font-family: "Press Start 2P", cursive;
  padding: 15px;
  border: 2px solid black;
  background-color: #ffd19a;
}

input {
  width: 60%;
}
input::placeholder {
  font-size: 10px;
}

button {
  transition: all 0.3s ease;
  cursor: pointer;
}
button:hover {
  box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, 0.2);
  background-color: #f0b369;
}

.btn-disabled {
  background-color: lightgrey;
  color: darkgray;
  border: 2px solid darkgray;
  cursor: auto;
}
.btn-disabled:hover {
  background-color: lightgray;
}

.swal-text {
  text-align: center;
}

.swal-button {
  background-color: #ffd19a;
  border: 3px solid black;
  border-radius: 0;
}
.swal-button:not([disabled]):hover {
  box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, 0.2);
  background-color: #f0b369;
}

.swal-modal {
  border-radius: 0;
  border: 5px solid black;
  background-color: lightgreen;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.field {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 1px;
  display: inline-block;
  position: relative;
  opacity: 0.8;
}

#board {
  max-width: 70%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.pawn {
  position: absolute;
  top: 70px;
  left: 120px;
  width: 75px;
  height: 75px;
}

.fieldNumberText {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

#result {
  display: inline-block;
}

.sticky-roll {
  position: sticky;
  z-index: 1;
  top: -1px;
  margin-top: 100px;
  background-color: #61bf13;
  padding: 15px;
}

.generate-heading {
  margin-bottom: 50px;
}

@media screen and (max-width: 700px) {
  .is-hidden {
    opacity: 0;
    visibility: none;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 70%;
    height: 609px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  input::placeholder {
    font-size: 0.4em;
  }
  ol {
    max-width: 90%;
  }
  header div {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */